BODY {
    background: url(images/bg.jpg) no-repeat 30px 20px; /* Параметры фона */
   }
p {
 font-family: Helvetica, sans-serif; /* гарнитура шрифта параграфов */
 font-size: 150%; /* размер шрифта */
 text-align: center; /* текст по центру */
}
.nac{
 color: black; /* цвет текста параграфов */
 font-family: Helvetica, sans-serif; /* гарнитура шрифта параграфов */
 font-size 30px; /* размер шрифта */
 align: center; /* текст по центру */
    border: 0px;
}
.h7{
    color: #111111;
    font-size: 16px;
    text-transform: uppercase;
    border: 0px;
 }
.h1.1{
font-size: 24px;
border-bottom: 0px solid maroon; /* Параметры линии под текстом */
}
.h1 {
    border-bottom: 2px solid maroon; /* Параметры линии под текстом */
    font-size: 48px; /* Размер шрифта */
    border-bottom: 2px solid maroon; /* Параметры линии под текстом */
    font-weight: normal; /* Убираем жирное начертание */
    padding-bottom: 5px; /* Расстояние от текста до линии */
    border: 0px;
   }
.h3 {
    text-indent: 30px; /* Отступ первой строки в пикселах */
   }
.h4{
    text-indent: 1px; /* Отступ первой строки в пикселах */
    font-size: 100%; /* Размер шрифта */
    font-weight: normal; /* Убираем жирное начертание */

}
h1 {
    font-size: 200%; /* Размер шрифта */
    border-bottom: 2px solid maroon; /* Параметры линии под текстом */
    font-weight: normal; /* Убираем жирное начертание */
    padding-bottom: 5px; /* Расстояние от текста до линии */
   }
.intable{
font-weight: normal;
}
.h1.2{
font-size: 24px;
font-weight: bold;
 text-align: center;
}
.hpp{
font-size: 24px;
font-weight: bold;
}
.h3.1 {
    text-indent: 30px; /* Отступ первой строки в пикселах */
    font-weight: normal; /* Убираем жирное начертание */
   }
h3{
    text-indent: 30px; /* Отступ первой строки в пикселах */
    font-weight: normal; /* Убираем жирное начертание */
   }
h10{
font-size: 100px;
font-weight: bold;
 text-align: center;
}